<app-admin-navbar></app-admin-navbar>  
<section id="hero" class="d-flex  flex-column justify-content-end align-items-center">
  <div id="dados" class="container padding">
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" routerLink="menu-table" style="font-size: 18px;">Menu</a></li>
        <li><a class="nav-link scrollto" href="" style="font-size: 18px;">Serviços</a></li>
        <li><a class="nav-link scrollto" href="" style="font-size: 18px;">Clientes</a></li>
        <li><a class="nav-link scrollto" href="" style="font-size: 18px;">Equipamentos</a></li>
        <!-- <li><a class="nav-link scrollto" href="#contact" style="font-size: 18px;">Equipamentos</a></li> -->
        <!-- <li><a class="nav-link scrollto" routerLink="login" style="font-size: 18px;"></a></li> -->
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>
  
</section>
<app-menu-table></app-menu-table>