<app-navbar></app-navbar>
<body>
  <div class="principal">
    <div class="container" id="container">
      <div class="form-container sign-in-container">
        <form action="#">
          <h1>Login</h1>
          <span>Administradores</span>
          <input type="email" placeholder="Email" />
          <input type="password" placeholder="Password" />
          <a href="#">Esqueceu-se da palavra passe?</a>
          <button href="#" class="button-class" (click)=login()>Login</button>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-right">
            <img src="../../assets/imagens/logo_tech4You.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</body>