<section id="hero" class="d-flex  flex-column justify-content-end align-items-center">
  <div id="dados" class="container padding">
    <div class="row ">
      <div class="col-xl-6">
        <div class="card">
          <h3 class="text-center mb-4">Dados do Cliente</h3>
          <form class="form-card">
            <div class="row justify-content-between text-left">
              <div class="form-group col-sm-6 flex-column d-flex">
                <label class="form-control-label px-3">Nome</label>
                <input type="text" id="nome" disabled name="nome" placeholder="">
              </div>

              <div class="form-group col-sm-6 flex-column d-flex">
                <label class="form-control-label px-3">Morada</label>
                <input type="text" id="morada" disabled name="morada" placeholder="">
              </div>
            </div>

            <div class="row justify-content-between text-left">
              <div class="form-group col-sm-6 flex-column d-flex">
                <label class="form-control-label px-3">Data Nascimento</label>
                <input type="text" id="dnascimento" disabled name="dnascimento" placeholder="">
              </div>
              <div class="form-group col-sm-6 flex-column d-flex">
                <label class="form-control-label px-3">Telemóvel</label>
                <input type="text" id="telemovel" disabled name="telemovel" placeholder="">
              </div>
            </div>

            <div class="row justify-content-between text-left">
              <div class="form-group col-sm-6 flex-column d-flex">
                <label class="form-control-label px-3">Email</label>
                <input type="text" id="email" disabled name="email" placeholder="">
              </div>
              <div class="form-group col-sm-6 flex-column d-flex">
                <label class="form-control-label px-3">Nif</label>
                <input type="text" id="nif" disabled name="nif" placeholder="">
              </div>
            </div>


          </form>
        </div>

      </div>

      <div class="col-xl-6">
        <div class="card">
          <h3 class="text-center mb-4">Dados do Equipamento</h3>
          <form class="form-card">
            <div class="row justify-content-between text-left">
              <div class="form-group col-sm-6 flex-column d-flex">
                <label class="form-control-label px-3">Tipo do Equipamento</label>
                <input type="text" id="tequipamento" disabled name="tequipamento" placeholder="">
              </div>

              <div class="form-group col-sm-6 flex-column d-flex">
                <label class="form-control-label px-3">Número Série</label>
                <input type="text" id="nSerie" disabled name="nSerie" placeholder="">
              </div>
            </div>

            <div class="row justify-content-between text-left">
              <div class="form-group col-sm-6 flex-column d-flex">
                <label class="form-control-label px-3">Marca</label>
                <input type="text" id="marca" disabled ame="marca" placeholder="">
              </div>
              <div class="form-group col-sm-6 flex-column d-flex">
                <label class="form-control-label px-3">Acessórios</label>
                <input type="text" id="acessorios" disabled name="acessorios" placeholder="">
              </div>
            </div>

            <div class="row justify-content-between text-left">
              <div class="form-group col-sm-6 flex-column d-flex">
                <label class="form-control-label px-3">Danos</label>
                <input type="text" id="danos" disabled name="danos" placeholder="">
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-xl-12">
        <div class="card">
          <h3 class="text-center mb-4">Dados da Assistência</h3>
          <form class="form-card">
            <div class="row justify-content-between text-left">
              <div class="form-group col-sm-6 flex-column d-flex">
                <label class="form-control-label px-3">Estado</label>
                <input type="text" id="tequipamento" disabled name="tequipamento" placeholder="">
              </div>

              <div class="form-group col-sm-6 flex-column d-flex">
                <label class="form-control-label px-3">Descrição</label>
                <input type="text" id="nSerie" disabled name="nSerie" placeholder="">
              </div>
            </div>

            <div class="row justify-content-between text-left">
              <div class="form-group col-sm-6 flex-column d-flex">
                <label class="form-control-label px-3">Observações</label>
                <input type="text" id="marca" disabled name="marca" placeholder="">
              </div>
              <div class="form-group col-sm-6 flex-column d-flex">
                <label class="form-control-label px-3">Testes Realizados</label>
                <input type="text" id="acessorios" disabled name="acessorios" placeholder="">
              </div>
            </div>

            <div class="row justify-content-between text-left">
              <div class="form-group col-sm-6 flex-column d-flex">
                <label class="form-control-label px-3">Novos Componentes</label>
                <input type="text" id="danos" disabled name="danos" placeholder="">
              </div>
              <div class="form-group col-sm-6 flex-column d-flex">
                <label class="form-control-label px-3">Técnicos Responsáveis</label>
                <input type="text" id="danos" disabled name="danos" placeholder="">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>