<app-admin-navbar></app-admin-navbar>
<app-menu></app-menu>
<section id="hero" class="d-flex  flex-column justify-content-end align-items-center">
  <div id="dados" class="container padding">
    <div class="row ">
      <table class="table align-middle table-hover">
        <thead>
          <tr>
            <th scope="col">ID Cliente</th>
            <th scope="col">Nome</th>
            <th scope="col">Morada</th>
            <th scope="col">Número Telefone</th>
            <th scope="col">Email</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>


        <tbody>
          <tr *ngFor="let data of data">
            <input scope="row" id="serviceIdd" disabled name="serviceIdd" placeholder="{{ data?.id }}" #serviceIdd>
            <td>{{ data?.name }}</td>
            <td>{{ data?.address }}</td>
            <td>{{ data?.phoneNumber }}</td>
            <td>{{ data?.email }}</td>
            <td>
              <button type="button" (click)="open(content, serviceIdd.placeholder)">
                <i class="bi bi-pencil"></i>
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-danger btn-sm px-3" (click)="delete(serviceIdd.placeholder)">
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>



<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" style="text-align: center;" id="modal-basic-title">ID Cliente - {{ clickData?.id }}</h4>
    <button type="button" class="close buttonClose" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
      <p></p>
    </button>
  </div>
  <section id="hero" class="d-flex  flex-column justify-content-end align-items-center">
    <div id="dados" class="container padding">
      <div class="row ">
        <div class="col-xl-12">
          <div class="card">
            <h3 class="text-center mb-4">Dados do Cliente</h3>
            <form class="form-card">
              <div class="row justify-content-between text-left">
                <div class="form-group col-sm-6 flex-column d-flex">
                  <label class="form-control-label px-3">Nome</label>
                  <input type="text" id="name" name="name" placeholder="{{ clickData?.name }}">
                </div>

                <div class="form-group col-sm-6 flex-column d-flex">
                  <label class="form-control-label px-3">Morada</label>
                  <input type="text" id="address" name="address" placeholder="{{ clickData?.address }}">
                </div>
              </div>

              <div class="row justify-content-between text-left">
                <div class="form-group col-sm-6 flex-column d-flex">
                  <label class="form-control-label px-3">Data Nascimento</label>
                  <input type="text" id="BirhDate" ame="BirhDate" placeholder="{{ clickData?.BirhDate }}">
                </div>
                <div class="form-group col-sm-6 flex-column d-flex">
                  <label class="form-control-label px-3">Número Telemóvel</label>
                  <input type="text" id="phoneNumber" name="phoneNumber" placeholder="{{ clickData?.phoneNumber }}">
                </div>
              </div>

              <div class="row justify-content-between text-left">
                <div class="form-group col-sm-6 flex-column d-flex">
                  <label class="form-control-label px-3">Email</label>
                  <input type="text" id="email" name="email" placeholder="{{ clickData?.email }}">
                </div>
                <div class="form-group col-sm-6 flex-column d-flex">
                  <label class="form-control-label px-3">Nif</label>
                  <input type="text" id="nif" name="nif" placeholder="{{ clickData?.nif }}">
                </div>
              </div>
            </form>
          </div>
        </div>


      </div>
    </div>
  </section>

  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="modal.close('Save click') " routerLink="">Confirmar</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Save click') ">Cancelar</button>

  </div>
</ng-template>